main {
    width: 100%;
}
.title {
    position: relative;
    left: 25px;
    font-size: 3rem;
    width: max-content;
    font-weight: 600;
    top: 0.5rem;
}

.blurb {
    font-family: 'Libre Franklin', sans-serif;
    padding: 50px 80px;
    background-color: var(--nav-color);
    width: 65%;
    box-sizing: border-box;
    border-radius: 0 25px 25px 0;
    font-weight: 300;
    box-shadow: -4px 4px 5px 0px rgb(0,0,0, 0.5);
    margin-bottom: 100px;

}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.playcard {
    margin: 1em;
    padding: 30px;
}

a:nth-child(3n+1) .playcard:hover img {
    outline: 5px solid var(--s);
}
a:nth-child(3n+2) .playcard:hover img {
    outline: 5px solid var(--a);
}
a:nth-child(3n) .playcard:hover img {
    outline: 5px solid var(--m);
}

.playcard p {
    font-size: 3rem;
    color: inherit;
    animation: inherit;
}
.playcard img {
    margin-top: 10px;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 30px;
}


@media only screen and (max-width: 800px) {
    .blurb {
        width: 100%;
    }
}