

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@700&display=swap');

body {
    background-repeat: repeat;
    background-image: url(../icons/paper.png);
    font-family: 'Red Hat Mono', monospace;
    height: 95vh;
    overflow:hidden;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 1.5em;
    max-height: 100%;

}

.container>div{
    min-width: min-content;
    max-width: 33%;
    max-height: 100%;
}

canvas {
    outline: 3px solid black;
}

.description {
    margin-left: 3%;
    margin-right: 3%;
}