

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@700&display=swap');

body {
    height: 100vh;
    overflow: hidden;
    padding-top: 70px;
}

.navbar{ 
    --n: 0;
}

h1 {
    margin: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 1.5em;
    max-height: 100%;
    margin: 2em;
}
 p a {
    color: var(--m);
 }
 p a:visited {
    color: var(--a);
 }
 p a:hover {
    color: var(--s);
 }
.container>div{
    min-width: min-content;
    max-width: 33%;
    max-height: 100%;
}

.description {
    margin-left: 3%;
    margin-right: 3%;
}